name: CICD

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout source
        uses: actions/checkout@v3
      - name: Login to docker hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }} 
      - name: Build docker image
        run: docker build -t rocketbet/nodejs-app .
      - name: Publish image to docker hub
        run: docker push rocketbet/nodejs-app:latest
        
  deploy:
    needs: build
    runs-on: [ip-172-31-36-171]
    steps:
      - name: Pull image from docker hub
        run: docker pull rocketbet/nodejs-app:latest
      - name: Delete old container
        run: docker rm -f nodejs-app-container
      - name: Run docker container
        run: docker run -d -p 3300:3300 --name nodejs-app-container rocketbet/nodejs-app